 @import url("https://fonts.googleapis.com/css?family=Figtree&display=swap");
 
 @font-face {
     font-family: myFont;
     src: url(TESLA.ttf);
 }


 .one {
     color: white;
     text-align: center;
     font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
     font-size: x-large;
 }

 * {
     margin: 5px;
     padding: 0;
     box-sizing: border-box;
     font-family: "Figtree", sans-serif;

 }

 body {
     display: grid;
     place-content: center;
     min-height: 100vh;
     background: #000000;
     background-color: black;
     /* background-color: url("https://i.postimg.cc/90p8YWn1/Background.png");
     background-image: url('https://i.postimg.cc/Qt2w8hpV/background-1.png'); */
 }

 .container {
     position: relative;
     display: grid;
     grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
     gap: 1em;
     width: 800px;
     height: 500px;
     transition: all 400ms;
 }

 .container:hover .box {
     filter: grayscale(100%) opacity(24%);
 }

 .box {
     position: relative;
     background: var(--img) center center;
     background-size: cover;
     transition: all 400ms;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .container .box:hover {
     filter: grayscale(0%) opacity(100%);
 }

 .container:has(.box-1:hover) {
     grid-template-columns: 3fr 1fr 1fr 1fr 1fr;
     text-align: center;
 }

 .container:has(.box-2:hover) {
     grid-template-columns: 1fr 3fr 1fr 1fr 1fr;
     text-align: center;
 }

 .container:has(.box-3:hover) {
     grid-template-columns: 1fr 1fr 3fr 1fr 1fr;
     text-align: center;
 }

 .container:has(.box-4:hover) {
     grid-template-columns: 1fr 1fr 1fr 3fr 1fr;
     text-align: center;
 }

 .container:has(.box-5:hover) {
     grid-template-columns: 1fr 1fr 1fr 1fr 3fr;
     text-align: center;
 }

 .box:nth-child(odd) {
     transform: translateY(-16px);
 }

 .box:nth-child(even) {
     transform: translateY(16px);
 }

 .box::after {
     content: attr(data-text);
     position: absolute;
     bottom: 20px;
     background: #000;
     color: #fff;
     padding: 10px 10px 10px 14px;
     letter-spacing: 4px;
     text-transform: uppercase;
     transform: translateY(60px);
     opacity: 0;
     transition: all 400ms;
 }

 .box:hover::after {
     transform: translateY(0);
     opacity: 1;
     transition-delay: 400ms;
 }

 .container1 {
     position: relative;
     display: grid;
     grid-template-columns: 1fr 1fr 1fr 1fr;
     gap: 1em;
     width: 800px;
     height: 500px;
     transition: all 400ms;
 }

 .container1:hover .box {
     filter: grayscale(100%) opacity(24%);
 }

 .container1 .box:hover {
     filter: grayscale(0%) opacity(100%);
 }

 .container1:has(.box-1:hover) {
     grid-template-columns: 3fr 1fr 1fr 1fr;
     text-align: center;
 }

 .container1:has(.box-2:hover) {
     grid-template-columns: 1fr 3fr 1fr 1fr;
     text-align: center;
 }

 .container1:has(.box-3:hover) {
     grid-template-columns: 1fr 1fr 3fr 1fr;
     text-align: center;
 }

 .container1:has(.box-4:hover) {
     grid-template-columns: 1fr 1fr 1fr 3fr;
     text-align: center;
 }

 @media screen and (max-width: 600px) {
     body {
         display: grid;
         place-content: center;
         width: fit-content;
         min-height: 100vh;
         background: #000000;
         background-color: black;
     }

     .container {
         position: relative;
         display: grid;
         grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
         gap: 1em;
         width: 500px;
         height: 250px;
         transition: all 400ms;

     }

     .container:hover .box {

         filter: grayscale(100%) opacity(24%);
     }

     .box {
         position: relative;
         background: var(--img) center center;
         background-size: cover;
         transition: all 400ms;
         display: flex;

         justify-content: center;

     }

     .container .box:hover {
         filter: grayscale(0%) opacity(100%);
     }

     .container:has(.box-1:hover) {
         grid-template-columns: 3fr 1fr 1fr 1fr 1fr;

         text-align: center;
     }

     .container:has(.box-2:hover) {
         grid-template-columns: 1fr 3fr 1fr 1fr 1fr;

         text-align: center;
     }

     .container:has(.box-3:hover) {
         grid-template-columns: 1fr 1fr 3fr 1fr 1fr;

         text-align: center;
     }

     .container:has(.box-4:hover) {
         grid-template-columns: 1fr 1fr 1fr 3fr 1fr;

         text-align: center;
     }

     .container:has(.box-5:hover) {
         grid-template-columns: 1fr 1fr 1fr 1fr 3fr;

         text-align: center;
     }

     .box:nth-child(odd) {
         transform: translateY(-16px);
     }

     .box:nth-child(even) {
         transform: translateY(16px);
     }

     .box::after {
         content: attr(data-text);
         position: absolute;
         bottom: 20px;
         background: #000;
         color: #fff;
         padding: 10px 10px 10px 14px;
         letter-spacing: 4px;
         text-transform: uppercase;
         transform: translateY(60px);
         opacity: 0;
         transition: all 400ms;
     }

     .box:hover::after {
         transform: translateY(0);
         opacity: 1;
         transition-delay: 400ms;
     }

     .container1 {
         position: relative;
         display: grid;
         grid-template-columns: 1fr 1fr 1fr 1fr;
         gap: 1em;
         width: 500px;
         height: 250px;
         transition: all 400ms;

     }

     .container1:hover .box {
         filter: grayscale(100%) opacity(24%);
     }


     .container1 .box:hover {
         filter: grayscale(0%) opacity(100%);
     }

     .container1:has(.box-1:hover) {
         grid-template-columns: 3fr 1fr 1fr 1fr;

         text-align: center;
     }

     .container1:has(.box-2:hover) {
         grid-template-columns: 1fr 3fr 1fr 1fr;

         text-align: center;
     }

     .container1:has(.box-3:hover) {
         grid-template-columns: 1fr 1fr 3fr 1fr;

         text-align: center;
     }

     .container1:has(.box-4:hover) {
         grid-template-columns: 1fr 1fr 1fr 3fr;
         text-align: center;
     }

     .five {
         width: fit-content;
         content: 100%;

     }

     .one {
         color: white;
         text-align: center;
         text-size-adjust: 30px;
         width: 100%;
         font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     }

 }

 
 

 